/* CookiesPolicy Page Styles */

.pageWrapper {
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

.desktopWrapper {
  display: block;
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

.mobileWrapper {
  display: none;
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

@media (max-width: 992px) {
  .desktopWrapper {
    display: none;
  }

  .mobileWrapper {
    display: block;
  }
}
